IndexDirectory
data/nyt/*
.settings/org.eclipse.jdt.core.prefs
target/*
*.log
*.log.zip
*/target
.idea/
*.iml
data/gdelt/*.CSV
data/gdelt/*.zip
data/reuters/*
*.tmp
catalina.out
stanford-entity-extractor/log/*
target
HANDY SNIPPETS.txt
tomcat-webapps
